* {
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: grid;
    grid-template-areas: "header header" 
                         "adds content";
    grid-template-rows: 3em auto;
    grid-template-columns: 20em 1fr;
    height: 200vh;
}

@media (min-width:780px){
    .top-menu{
        grid-area: header;
        background-color:#B6B0A9;
        position: sticky;
        top:0;
    }
    /* .top-menu{
        position: sticky;
        left:0;
        right:0;
        top:0;
        height: 3em;
        background-color:#B6B0A9;
    } */
    .top-menu ul{
        list-style: none;
    }
    .top-menu ul li{
        display: inline-block;
        margin: 0.85em 0;
    }
    .menu-item{
        color:#E8DFD6;
        text-decoration: none;
        padding: 0.85em;
        font-weight: bold;
        font-size: 1em;
    }
    .menu-item:hover{
        color:#FFFFFF;
        background-color: #CEC6B9;
    }

    .content{
        grid-area: content;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(5em,10em);
        grid-gap: 2em;
    }

    .content-item{
        min-height: 5em;
        box-shadow: 4px 4px 4px 1px aqua;
        justify-self: stretch;
    }
}